@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
    //  background-image: linear-gradient(to right top, #fefcfd, #f5f1f4, #ebe7ec, #e0dde4, #d4d3dd);
    //  background-attachment: fixed;
    //  background-size: cover;
    background-color: white;
     color: #212227;
     font-family: 'Roboto Slab', serif;
}

.container-fluid{
    padding-top: 56px;
    padding-bottom: 50px;
}

.logo{
    font-family: 'Permanent Marker', cursive;
}
