<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <link rel="icon" href="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    {% block meta %}{% endblock %}

    <meta name="author" content="Basile Samel">

    <link rel="stylesheet" href="{{ asset("build/core.css") }}">
    {% block stylesheet %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if app.environment == 'prod'%}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115881788-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115881788-1');
    </script>
    {% endif %}

</head>
<body>

  {% block body %} {% endblock %}

  <script src="{{ asset("build/core.js") }}"></script>
  {% block javascript %} {% endblock %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>
</html>
