<div id="mc_embed_signup">
<form action="https://basilesamel.us12.list-manage.com/subscribe/post?u=66ac0e518ce31f394e250917b&amp;id=07a5448e2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
        <div class="input-group mb-3">
          <label class="sr-only" for="mce-EMAIL">Email adress</label>
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="{{ 'Email address'|trans|raw }}" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_66ac0e518ce31f394e250917b_07a5448e2c" tabindex="-1" value=""></div>
          <div class="input-group-append">
              <input type="submit" value="{{ 'Subscribe'|trans|raw }}" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
          </div>
        </div>
    </div>
</form>
</div>
