<nav class="d-flex flex-column justify-content-center fixed-top">
    <ul class="nav d-flex flex-row justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link logo" href="/">Toward Mastery</a>
      </li>
      <li class="nav-item d-none d-md-block">
        <small><a href="https://basilesamel.com" target="_blank">a software craftsman</a>'s blog</small>
      </li>
    </ul>
</nav>
