<div class="modal left fade" id="side-toolbar" tabindex="-1" role="dialog" aria-labelledby="side-toolbar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Search</h4>
      </div>

      <div class="modal-body" id="toolbar">
        {% include 'blog_presentation.html.twig' %}
        {% include 'toolbar_search_form.html.twig' %}
      </div>

    </div>
  </div>
</div>
