<p>Back in January 2018 I decided to launch with two lawyers a legaltech startup, <a href="https://justinien.co" target="_blank">Justinien</a><sup>(1)</sup>. Two products later, we are getting our first revenues.</p>

<p>I enjoy frugality. Money is but a tool to attain a greater freedom. In the end, money is not what I am looking for. My twenties are dedicated to one purpose : becoming a great software craftsman - reach mastery in my craft. I can only do it by making lots of tech products so that, one day, I am finally able to craft a masterpiece. I just want money to be a side effect of excellence in what I am passionate about : making great tech products, meaning, writing truly helpful software.</p>

<p>How do I release more tech products then ? The scope of Justinien, legal technologies, was limiting. I needed to break through it, so I decided to set up a one-man business in parallel that would give me the freedom to make my own things, at the pace I want, without giving up on my co-founders at Justinien.</p>

<p>I wanted to establish the business as soon as possible, in the simplest manner, so I opted for the french solopreneur status (known as micro-business, micro-entrepreneur or also auto-entrepreneur). Registering a micro-business is free and easy to do. Moreover, you pay taxes only if you perceive revenues from your activities. The only downsides are that 1) the revenues are limited to 70k‎€/81k$ per year without taxes and 2) you are personally liable for business debts.<br>
Fortunately, none of those conditions constitute a real problem to me : tech businesses are the cheapest businesses to launch. Nowadays, you can build an online business for less than 50 bucks. If I ever get revenues from my products and hit the ceiling, I will have enough money to scale since the gross margin of a tech business is so profitable.</p>

<p>To register a micro-business in France, you just need to declare it on <a href="https://www.cfe.urssaf.fr/autoentrepreneur/CFE_Bienvenue" target="_blank">lautoentrepreneur.fr</a><sup>(2)</sup> by filling up the online form.</p>

<figure>
<img src=”{{asset('uploads/article/ugly_lautoentrepreneur_form.jpg
')}}” alt=”lautoentrepreneur form”>
<figcaption>hello ugly form</figcaption>
</figure>

<p>You then receive an official certificate by snail mail issued by INSEE, the national statistics bureau of France, containing your french business identification number (<a href="http://www.startbusinessinfrance.com/blog/post/tip-what-is-a-siren-or-siret-number" target="_blank">SIREN/SIRET</a><sup>(3)</sup>) between one and two weeks later.</p>

<p>Once the business is officially registered, you have to open a dedicated bank account to receive and send payments. My personal bank being too expensive and antiquated, I choose an online bank, <a href="https://www.revolut.com/th/business" target="_blank">Revolut</a><sup>(4)</sup>, and opened a global freelance bank account for 8€/9$ a month. It made sense to choose Revolut as my customers would not be limited to one specific country (multi-currency accounts without bank fees (!!!)) and I would receive payments by <a href="https://" target="_blank">Stripe</a>(5) (the integration between Revolut and Stripe is clear and simple, a real breeze to work with so far). Stripe is an online payment tool suite that makes it easy to get paid from your own app.<br>
When I subscribed to Revolut Business I automatically entered the business application queue. At first, seeing that 400+ people were standing before me, I was afraid I would never be able to open a bank account before the beginning of September, but in fact your rank in the queue is just an informal indication. As soon as I logged in, the customer support hit me up from the online chat located in my online account, asking about what I intended to do with my professional bank account and for documents to prove that my business really exists. Two days later, the bank account was ready to use.</p>

<figure>
<img src=”{{asset('uploads/article/revolut_customer_chat.jpg
')}}” alt=”online support chat”>
<figcaption>online support chat</figcaption>
</figure>

<p>I started the process at the end of June for an official launch statement on July the 15th. I received my business id number at the end of July, and opened my bank account at the end of August.<br>
In the meantime, around mid-May, I started developing my first tech product as an indie maker, <a href="https://pyrohabit.com" target="_blank">PyroHabit</a><sup>(6)</sup>. By September, PyroHabit integrated Stripe and was ready to launch, so the infrastructure was complete in order to receive my first payment.</p>

<p>My business costs as of today are really low :</p>

<ul>
<li>Green web hosting (up to 20 websites) on <a href="https://www.infomaniak.com/en" target="_blank">infomaniak.com</a><sup>(7)</sup> : 69€ per year / 5.75€ per month</li>
<li>basilesamel.com domain : 8.90€ per year / 0.75€ per month</li>
<li>towardmastery.co domain : 9.90€ per year / 0.825€ per month</li>
<li>pyrohabit.com domain : 8.90€ per year / 0.75€ per month</li>
<li>Mail hosting / 5 pro email addresses on Infomaniak : 18€ per year / 1.5€ per month</li>
<li>Revolut bank account : 8€ per month</li>
<li><a href="https://github.com/" target="_blank">Github</a><sup>(8)</sup> account : 7€ per month</li>
</ul>

<p>For a total of 24.6€/28.8$ operational costs per month, you can launch three web apps. The cost of five Big Macs in France.</p>


<p>If that’s still too much for you, here is a list of free resources you can use to launch your own online business at a fraction of my costs : <a href="https://medium.com/swlh/300-awesome-free-things-e07b3cd5fd5b" target="_blank">link</a></p>

<p>It’s never been cheaper and easier to become a tech entrepreneur, and that’s empowering.</p>

<p>References :</p>
<ol>
<li>Justinien : <a href="https://justinien.co" target="_blank">justinien.co</a></li>
<li>Registering a french micro-business : <a href="https://www.cfe.urssaf.fr/autoentrepreneur/CFE_Bienvenue" target="_blank">cfe.urssaf.fr/autoentrepreneur/CFE_Bienvenue</a></li>
<li>Business id vs SIREN vs SIRET :  <a href="http://www.startbusinessinfrance.com/blog/post/tip-what-is-a-siren-or-siret-number" target="_blank">startbusinessinfrance.com/blog/post/tip-what-is-a-siren-or-siret-number</a></li>
<li>Revolut Business : <a href="https://www.revolut.com/th/business" target="_blank">revolut.com/th/business</a></li>
<li>Stripe : <a href="https://" target="_blank">stripe.com</a></li>
<li>PyroHabit : <a href="https://pyrohabit.com" target="_blank">pyrohabit.com</a></li>
<li>Infomaniak : <a href="https://www.infomaniak.com/en" target="_blank">infomaniak.com/en</a></li>
<li>Github : <a href="https://github.com/" target="_blank">github.com</a></li>
<ol>
