<p>It is almost dawn. I am leaving Buda in a few hours from Kelenföldi bus station. The fresh morning air inspires me this short introspection regarding the month I just spent in the Queen of the Danube.</p>

<p>After finishing college in March 2018, I spent one month in Paris to grow Justinien, the startup I co-founded with two partners two months earlier. I quickly realized living in Paris was not justified, and I would be better off working remotely.</p>

<p>Since Justinien is yet to be monetizable, I am not making any revenue. I have to live off my savings. The cost of living in Paris is incredibly prohibitive, yet reducing my personal burn rate - my personal cash spent per month - would directly translate into an ability to work for an extended period of time, hassle-free and dedicated to the entrepreneurial career.<br>
On the other hand, I am lucky to have two smart and open-minded partners by my side. Our work methodology naturally came to be remote based. When we first met, Quentin and Louma lived in Paris, whereas I was working in Geneva. We had to figure out a way to make our minimum viable product without being physically present. We built our side hustle remotely for four months, before deciding to get serious and officially establish the company. We worked the same way for another two months before I joined them in Paris. Our ability to work remotely being demonstrated, I had no trouble convincing them I needed to go abroad : “<span class="font-italic">Roots are important in a man’s life, but humans have legs, not roots, and legs are made to go somewhere else</span>”<sup>1</sup>.</p>

<p>And that is how I flew to Budapest on April the 16th, with some goals in mind.</p>

<figure class="text-center">
<img src="/uploads/article/screenshot_budapest_goals.jpg">
<figcaption>Announcing some goals</figcaption>
</figure>

<h2>Discover a new culture</h2>

<p>Let’s face it : <strong>a perfect work/life balance is neither possible nor desirable when you are building a startup</strong>. You cannot unplug your brain and watch TV. Your mind is so focused on your venture that taking time off makes you feel guilty and bitter about yourself. Since laser-like focus and dedication are key for a startup success, there is just no way around both hard and smart work. And when you love your work as much as I do, you don’t really consider going to the Szechenyi thermal baths to relax. Consequently I did not make enough time to really embrace the hungarian culture, and I barely visited the city. It is a shame, and I wish to improve on this point.</p>
<p>For my next stop in Europe, I am <strong>considering some solutions to get a better grasp of the local culture</strong> while still feeling “productive” :</p>
<ul class="list-unstyled">
<li><h5>Learn the language</h5> <p>I downloaded Duolinguo to serve as basis for learning and plan on practicing consistently in real life situations.</p></li>
<li><h5>Go to meetups, exchange and share</h5> <p>Meetup and similar social apps are an incredible opportunity to exchange with locals, even though, english-friendly events seem kinda scarce in Eastern Europe. I need to dig a little deeper on this.</p></li>
<li><h5>Learn photography</h5> <p>Photography is a good excuse to go out and an incredible communication tool. I just happen to have a nice camera gathering dust.</p></li>
</ul>
<p>Buying a coworking space subscription is out of question since it goes against my third and fourth goals (“reduce my burn rate”, “improve personal productivity” ). Furthermore, open spaces are obviously not deep work enablers, and coworking is still expensive from a local’s point of view (at the very least 140$ per month in Budapest).</p>

<h2>Launch the monetized version of Justinien</h2>

<p>Thanks to the advice of our mentors, my partners and I came to the conclusion that we are spanning over too many businesses at once. It is not efficient and we need to gather our efforts on one target business first. Consequently <strong>we are creating a new roadmap postponing the release of the monetized version by one month</strong>. The creation process is no straight path.</p>

<h2>Reduce my burn rate</h2>

<p>I managed to live in Budapest on about 900$ for the whole month. I rented an Airbnb studio for 400$, kept my food costs around 290$ and spent the rest on transportation (83$ for a plane ticket and unlimited public transportation in the city) and leisure activities (~130$ : eat-out, bars, visits). This way <strong>I reduced my burn rate by almost 50%</strong> compared to my costs in Paris, <strong>while improving significantly my quality of life</strong> (diet, weather, work conditions etc.) - the difference being mainly due to the absurd housing costs of Paris.</p>

<h2>Improve personal productivity</h2>

<p>My productivity improved as well. Here is some data I collected over a week during my stay in Paris :</p>

<figure class="text-center">
<img src="/uploads/article/screenshot_productivity_paris.png">
<figcaption>Rescuetime productivity data, week 14</figcaption>
</figure>

<p>In Budapest :</p>

<figure class="text-center">
<img src="/uploads/article/screenshot_productivity_budapest1.png">
<img src="/uploads/article/screenshot_productivity_budapest2.png">
<figcaption>Rescuetime productivity data, weeks 16 and 17</figcaption>
</figure>

<p>In general, I feel less anxious and more focused. <strong>The most important consequence of this state-of-mind is an ability to execute faster with the same amount of time spent on work</strong> : on week 14 (April 1 - April 7) my Trello cards count is of 5, against 9 for week 16 (April 15 - April 21) and 12 for week 17 (April 22 - April 28), each card representing roughly the same amount of work.</p>

<figure class="text-center">
<img src="/uploads/article/screenshot_W14.png">
<img src="/uploads/article/screenshot_W16.png">
<img src="/uploads/article/screenshot_W17.png">
<figcaption>Tasks done per week - Trello</figcaption>
</figure>

<p>Moreover, I was able to launch a personal blog (the one you are actually reading) and an  entrepreneurship community, as well as writing my first two articles. I am quite happy about the improvements I made, but I still have some room for improvement.</p>

<p>A logical step further would be <strong>to cut the amount of time spent on social networks and Youtube</strong> and redirect them towards getting to know the local culture or learning new things in general.<br>
On the other hand, I would like <strong>to extend my week of 40 hours of productive work to 63 hours</strong> (9 hours every day of the week). The usual advice you receive when starting a company is to work like a mad man : from 70 to 100-hour workweek. However I do not believe that putting my health at risk will be beneficial to me on the long run, and since building a company is about the long run, I do not plan on doing that.<br>
What I plan however is <strong>to sharpen my skills to focus</strong> and to dive into <span class="font-italic">Deep Work</span><sup>2</sup> by introducing micro-routines gradually. After years of conscious self-development I tend to conclude that <strong>habits and accountability are the main drivers for personal growth</strong> (more on that later). Motivation is overrated and should not be counted on : what matter most are  drive and vision.</p>

<h2>Grow a fully remote startup development team</h2>

<p>Even though hiring developers is out of question at the moment, constantly thinking of ways to improve our work processes and tools is valuable from both a company and an individual perspective. At Justinien, <strong>we use a combination of GSuite, Slack, Trello, Github and Skype to get the work done</strong>.<br>

<p>Gmail is used for external communication whereas Slack and Skype are prefered for internal exchanges. We avoid Skype meetings as much as possible (two one-hour meetings throughout my whole stay in Budapest) by prioritising daily text-based discussions.</p>

<p>We use Trello to keep track of our tasks and Github to do some version control. I practice some form of agile methodology to organize my development boards : a list for the backlog gathering all the product needs, a list for what is currently being done and one for what has been done (mainly for motivational purposes). In addition, I put in place an Idea list to keep thinking about how to make the product better.</p>

<figure class="text-center">
<img src="/uploads/article/screenshot_trello.png">
<figcaption>Trello board</figcaption>
</figure>

<p>To stay accountable, I use Trello to offer a detailed internal accountability and social networks for public accountability. I discovered the concept of public accountability reading levelsio’s blog : I must say <strong>I am convinced public accountability is a great way to stay focused on making progresses and delivering, as well as sharing with others what you deeply care about.</strong></p>

<figure class="text-center">
<img src="/uploads/article/screenshot_twitter.png">
<figcaption>Public accountability on Twitter</figcaption>
</figure>

<p>We are currently implementing a goal-based roadmap definition routine. It consists in setting up weekly goals following the SMART methodology to orientate our tasks and deliver frequently.</p>

<p>To summarize, our remote work methodology is extremely minimalistic, yet efficient and flexible.</p>

<h2>Conclusion</h2>

<p>I am satisfied with how working remotely impacted my goals over the last month. Digital nomadism is an incredible experience that allowed me to get to know myself on a more profound level : <strong>traveling alone builds character</strong>.</p>

<p>Now, modern nomadism is not as sexy as it sounds : <strong>it feels incredibly lonely</strong>, and I truly got to experience it first-hand. When you live in a place for a short period of time, one month for example, building long-term bonds is hard and friendships feel fake somehow. Being an entrepreneur doesn’t help with that, the border between work and life is unclear. I would like to write more about travel loneliness and travel ethics in the future to treat these important contemporary problematics inherent to nomadism and mass tourism.</p>

<p>Something Picasso’s character said in the serie Genius (season 2 episode 3) truly echoed in me : “<span class="font-italic">It takes more to be an artist. The only way to be a true artist is to work day and night, to devote yourself body and soul. Do you have any idea the level of loneliness it implies ? Without great solitude, no serious work is possible</span>”.</p>

<p>Artists really are master craftsmen.</p>

<p>I am now on to my next stop, to meet my "girl of the north country fare" and toward entrepreneurship mastery.</p>

<figure class="text-center">
<img src="/uploads/article/budapest_dawn.jpg">
<figcaption>Hungarian dawn</figcaption>
</figure>

<ul class="list-unstyled">
Notes :
<li>1 : Pino Cacucci</li>
<li>2 : Deep Work, Cal Newport</li>
</ul>
