<!-- <h1>Software : from craftsman to artist</h1> -->

<!-- <h2>Historical craftsmanship</h2> -->

c. 1200
https://www.etymonline.com/word/craftsman

craft - craeft : https://en.wiktionary.org/wiki/cr%C3%A6ft#Old_English
(“physical strength, might, courage, science, skill, art, ability, talent, virtue, excellence, trade, handicraft, calling, work or product of art, hex, trick, fraud, deceit, machine, instrument”)

A skilled manual worker who uses tools and machinery in a particular craft.

During the Middle Ages, the term "artisan" was applied to those who made things or provided services. It did not apply to unskilled manual labourers. Artisans were divided into two distinct groups: those who operated their own businesses and those who did not. Those who owned their businesses were called masters, while the latter were the journeymen and apprentices. One misunderstanding many people have about this social group is that they picture them as "workers" in the modern sense: employed by someone. The most influential group among the artisans were the masters, the business owners. The owners enjoyed a higher social status in their communities.[2]

historical concepts
Key concepts :
Tools
Products
Technical mastery
Apprenticeship
Every craftsman go through it
Every craftsman is destined to shape apprentices, to educate the next generation and to forge a legacy
A symbol of perpetual, iterative improvement
Master craftsman
is his own boss
has his own workshop
Guild
Craftsman are highly independent, yet they spread their knowledge and collaborate together
Shokunin
A craftsman has a societal responsibility
Craftsmanship is an iterative process, a constant quest for perfection (masterpiece)
Aesthetics

craftsmen don't stick around, but they build with durability in mind (cathedrals)

Originellement, l’« artisan » est celui qui met son art au service d’autrui

Shokunin craftmanship
“The Japanese word shokunin is defined by both Japanese and Japanese-English dictionaries as ‘craftsman’ or ‘artisan,’ but such a literal description does not fully express the deeper meaning.  The Japanese apprentice is taught that shokunin means not only having technical skills, but also implies an attitude and social consciousness. … The shokunin has a social obligation to work his/her best for the general welfare of the people.  This obligation is both spiritual and material, in that no matter what it is, the shokunin’s responsibility is to fulfill the requirement.” – Tasio Orate

<!-- <h2>Software craftsmanship</h2> -->

Engineer, hacker, mastery

manifesto : http://manifesto.softwarecraftsmanship.org/

What unite engineers and hackers is the search for technical mastery.
Makers don’t look for technical mastery.

craftsmanship and maslow pyramid
https://www.google.com/search?q=maslow+pyramide&client=firefox-b&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiw_OXw7oXcAhWCRhQKHaF4ArsQ_AUICigB&biw=1920&bih=952#imgrc=cm33eJ4euhGgGM:

Blacksmiths are ethical engineers
France = engineering culture => the engineer is the one who creates war engines for the state
the word evolved to define a technical expert
Engineers are fuel for war.

Hackers are engineers who under-engineer solutions to maximize the production of creative content.

The Pragmatic Programmer, Andy Hunt and Dave Thomas - summary : https://github.com/HugoMatilla/The-Pragmatic-Programmer
The construction of software should be an engineering discipline. How-
ever, this doesn’t preclude individual craftsmanship. Think about the
large cathedrals built in Europe during the Middle Ages. Each took
thousands of person-years of effort, spread over many decades. Lessons
learned were passed down to the next set of builders, who advanced
the state of structural engineering with their accomplishments. But the
carpenters, stonecutters, carvers, and glass workers were all craftspeo-
ple, interpreting the engineering requirements to produce a whole that
transcended the purely mechanical side of the construction. It was their
belief in their individual contributions that sustained the projects.
Within the overall structure of a project there is always room for in-
dividuality and craftsmanship. This is particularly true given the cur-
rent state of software engineering. One hundred years from now, our
engineering may seem as archaic as the techniques used by medieval cathedral builders seem to today’s civil engineers, while our craftsman-ship will still be honored.

<!-- <h2>Toward an art of software development</h2> -->

what is art
technical mastery, innovation, expression, beauty
“art is about how people feel about it, not how well it works” https://www.quora.com/Is-Software-Development-an-Art-Or-Craft

art = communicate ideas or store information

craftsman => artisan => art (thin border with artist)
The Greek word "techně", often translated as "art," implies mastery of any sort of craft
words are self limiting
An artist was someone able to do a work better than others, so the skilled excellency was underlined, rather than the activity field. In this period some "artisanal" products (such as textiles) were much more precious and expensive than paintings or sculptures.
In Living with Art, Mark Getlein proposes six activities, services or functions of contemporary artists:[5]
Create places for some human purpose.
Create extraordinary versions of ordinary objects.
Record and commemorate.
Give tangible form to the unknown.
Give tangible form to feelings.
Refresh our vision and help see the world in new ways.

(software aesthetics)

Creating is solving your own problems.

“Hackers, likewise, can learn to program by looking at good programs-- not just at what they do, but the source code too. One of the less publicized benefits of the open-source movement is that it has made it easier to learn t”
“paintings are created by gradual refinement”
“Great software, likewise, requires a fanatical devotion to beauty. If you look inside good software, you find that parts no one is ever supposed to see are beautiful too. I'm not claiming I write great software, but I know that when it comes to code I behave in a way that would make me eligible for prescription drugs if I approached everyday life the same way. It drives me crazy to see code that's badly indented, or that uses ugly variable names.”
“Most makers make things for a human audience. And to engage an audience you have to understand what they need. Nearly all the greatest paintings are paintings of people, for example, because people are what people are interested in.”
“Painting was not, in Leonardo's time, as cool as his work helped make it. How cool hacking turns out to be will depend on what we can do with this new medium. “

Art is something you interact with.

is there such thing as an useless app ?

Craftsmen belong to guilds => artists have mecenes
Maker movement : software developers don’t need companies anymore : engineer => craftsmen => artist / hacker

Guilds are fading out => artists, makers => new codes (codes are broken : levelsio), new mastery

 levelsio doesn’t view himself as a programmer, yet expresses himself through tech products

mastery is autonomy

What unite engineers and hackers is the search for technical mastery.
Makers don’t look for technical mastery.

With the appearance of the maker movement, a shift in the software industry is occuring. Software development is getting closer to the definition of an art than ever before.
Paul Graham, hacking http://www.paulgraham.com/hp.html

In the craftsmanship model, a journeyman becomes a master once it has created a masterpiece validated by external experienced masters. In software, with the appearance of the indie maker movement, I believe a journeyman becomes a master once it has developed a successful software product. Meaning, a masterpiece is a software product validated by a great number of users. In entrepreneurship jargon, one could say a masterpiece is a startup having attained product/market fit. Technical perfection is thus, not the end goal. Instead, a software craftsman should strive first to create great tools from a functional perspective.
Owing to this point, my routine should serve the purpose of building great tech products.

artists ship
Steve Jobs's famous maxim "artists ship" works both ways. Artists aren't merely capable of shipping. They insist on it. So if you don't let people ship, you won't have any artists.
http://www.paulgraham.com/artistsship.html

Conclusion idea :
“So while I admit that hacking doesn't seem as cool as painting now, we should remember that painting itself didn't seem as cool in its glory days as it does now.”
http://www.paulgraham.com/hp.html
What if, instead of marketing software engineering as an purely engineering practice, we promoted it as an art ? Could it solve the gender gap in our profession ? Could it inspire a whole new generation of product-oriented programmers ?

In Greek culture each of the nine Muses oversaw a different field of human creation:

    Calliope (the 'beautiful of speech'): chief of the muses and muse of epic or heroic poetry
    Clio (the 'glorious one'): muse of history
    Erato (the 'amorous one'): muse of love or erotic poetry, lyrics, and marriage songs
    Euterpe (the 'well-pleasing'): muse of music and lyric poetry
    Melpomene (the 'chanting one'): muse of tragedy
    Polyhymnia or Polymnia (the '[singer] of many hymns'): muse of sacred song, oratory, lyric, singing, and rhetoric
    Terpsichore (the '[one who] delights in dance'): muse of choral song and dance
    Thalia (the 'blossoming one'): muse of comedy and bucolic poetry
    Urania (the 'celestial one'): muse of astronomy
No muse was identified with the visual arts of painting and sculpture. In ancient Greece sculptors and painters were held in low regard, somewhere between freemen and slaves, their work regarded as mere manual labour

It's still too soon to call myself a software artist.

Developers, start creating, be proud of your job, without elitism. Because maybe one day, the future generations will be able to look at us and see us as the pioneers of the software development art.
