<p>Petit déjà, je voulais devenir inventeur.</p>

<p>Je me plaisais à imaginer la construction de technologies avancées, à partir de bouts de bois et de crayons de couleur. Les enfants aiment imaginer leurs futurs métiers, et ne se privent pas de partager leurs idées. Mon idée n'a pas changé depuis que j'ai dix ans. À cet âge, mon enseignante avait demandé de rédiger une liste d'idées similaires, sur qui nous aimerions être en grandissant. Je me rappelle très distinctement des deux éléments que j'ai envisagé ce jour-là, l'un étant “<span class="font-italic">architecte</span>”, avant de me résoudre à écrire “<span class="font-italic">ingénieur scientifique</span>”. Je ne me souviens pas vraiment de ce que j'entendais par cette expression. Cependant, c'était ce que j'avais trouvé de plus similaire sémantiquement à une carrière d'inventeur.</p>

<p>À treize ans, je lisais des tutoriels informatiques sur “Le Site du Zéro” (devenu maintenant OpenClassrooms.com). Je rédigeais alors mon premier programme "Hello world". Je suis immédiatement tombé amoureux de cette idée consistant à créer à partir de - ce qui me semblait comme - rien. Un peu comme dessiner sur une feuille vierge. Plus tard, je me suis un peu penché sur des sujets de développement web, sans rien réaliser d'extraordinaire - principalement des blocs HTML colorés avec un peu de texte. Pourtant, le métier de mes rêves n'était plus “<span class="font-italic">ingénieur scientifique</span>”, mais ingénieur informatique. Après le lycée j'intégrais l'INSA de Lyon, une école d'ingénieur. Deux années houleuses plus tard, j'étais admis au département Télécommunications, Services et Usages.</p>

<p>Mon temps passé en tant qu'élève-ingénieur m'a permis d'expérimenter plusieurs voies de carrière. J'ai travaillé en tant que webmaster pendant deux mois au sein d'une association humanitaire. Puis, j'ai assumé les fonctions de responsable informatique dans une ONG étudiante durant deux ans. Enfin, j'ai terminé mon diplôme à l'intérieur d'une société de conseil comme ingénieur informatique stagiaire sur six mois.</p>

<p>Ma passion pour la réalisation d'outils utiles avait éveillé mon aspiration à devenir ingénieur. Les opportunités qui se sont offertes à moi m'ont conduit à devenir entrepreneur.</p>

<p>Right before the start of my end-of-study internship, Pierre-Alexis, an engineering friend of mine, proposed coming aboard a startup project as a web developer. I quickly agreed to meet the team, and this side hustle project ended up becoming Justinien four months down the road.<br>
In the fifth month, the company was officially established. I was in the middle of an hiring process at a consulting firm in Paris, revolving around a well-paid and interesting data science job, when I decided to put a stop to it. I realized that I wanted to dedicate myself fully to the entrepreneurship journey, that it was meant for me.<br>
I finished my internship two months later. It has now been a month since I have become a full-time technical co-founder.</p>

<p>Starting a company, what more at a young age and fresh out of college, is often considered a bold and risky move. I think it is not, or at least, that it does not have to be. I rationalized my fear of starting in a simple manner. </p>

<p>On one hand, the notion of a “most appropriate time to start” is more flexible than you think. In my case, Justinien is a legal technology startup, so I had no need for either a big network or a lot of money to start. I am currently living in Budapest under $1000 a month without sacrificing my well-being. I saved around $24000 over five years from previous scholarships and earnings. If I were to relocate to South-East Asia, I could endure another two to three years from this money. Heck, you don’t even need a perfect-thought-out idea to begin with. You can figure out the exact opportunity later. All you need is to start doing : get the right issue to tackle, the right people to work with - or, maybe even none ! - and the right mindset to begin with. Not so easy, yet achievable. The moment I choose to go full-time is when I believed I have acquired all three - and I still do.</p>

<p>I believe my startup solves the right challenge, considering it solves an important issue, in a unique way, while creating value out of it.<br>
I believe I have the right partners, being able to execute our common vision in a synchronised fashion without rejecting our individual aspirations.<br>
I believe I have the right mindset : full confidence. I am confident I can learn anything I want. I am fearless I can execute at will without the need for external motivation. I am convinced going all-out will ensure the success of this adventure. There is the fear of starting, and there is the fear of finishing. I wish I had neither of them. However, I can overcome them.</p>

<p>What is the worst case scenario anyways. Having to find a job ? Running out of money ? Moving out with my parents ? Not so bad.<br>
I am positive I can find a job anytime I want, considering the skills entrepreneurship is teaching me. I solve problems. I become a proactive and independent craftsman. I know how to add value to the tiniest detail. What kind of business would not want this kind of worker ? Surely not one you want to work for.</p>

<p>If you consider starting a venture, I would give you the same advice Bukowski once wrote to aspiring writers.<br>
Don’t do it for fame. Don’t do it to get someone in your bed. Or to get rich. Don’t even think about it as a way to be free, owing to the fact that you will trade a form of slavery for another. Don’t choose it.<br>
Do it because it’s bursting out of your very soul, and you have no other choice but to give in to it.</p>

<p class="font-italic">Note : I want to thank <a href="https://www.linkedin.com/in/justinlimjt" target='_blank'>Justin Lim Jia Tian</a> for proofreading and suggesting improvements to this essay. Your relevant feedback is always much appreciated !</p>

<p  class="font-weight-bold ">I am <a href="http://basilesamel.com" target='_blank'>Basile</a>, a young software craftsman documenting his entrepreneurship journey. If you liked this article, you can follow my adventures in real time on <a href="https://twitter.com/basilesamel" target="_blank">Twitter</a> or drop me a line at basile@justinien.co, I’m always looking forward to meeting new people and learning from others !.<br>
My startup : <a href="http://justinien.co" target="_blank">justinien.co</a></p>
